/AbstractWxApi.class
/AccessToken.class
/AccessTokenApi.class
/ApiConfig.class
/ApiConfigKit.class
/JsapiTicket.class
/JsapiTicketApi.class
/OAuthAccessTokenApi.class
/ReturnCode$1.class
/ReturnCode.class
/WxApi.class
