/Review.class
/Mall.class
/Agency.class
/Distributor.class
/Dealer.class
/Goods.class
/GoodsClass.class
/GoodsChange.class
/Order.class
/OrderGoods.class
/Member.class
/Follow.class
/TreeMember.class
/ShopCartGoods.class
/ShopCart.class
/OrderReturnScore.class
/OrderGoodsReturn.class
/OrderGoodsRebate.class
/GoodsRebate.class
/DrawCash.class
/GoodsSpec.class
/GoodsClassSpec.class
/Tag.class
/GoodsPhoto.class
/Event.class
/EventItem.class
/EventItemRushBuy.class
/EventItemGoods.class
/EventItemMember.class
/GoodsClassSpecValue.class
/GoodsPrice.class
/FlowLog.class
/RunFlowLog.class
/RunFlow.class
/Material.class
/MaterialItem.class
/Attach.class
/AttachRef.class
/GoodsSpecProduct.class
/GoodsSpecValue.class
