/WxArticle.class
/WxEventType.class
/WxGroup.class
/WxImage.class
/WxInMsg.class
/WxMaster.class
/WxMedia.class
/WxMenu.class
/WxMsgType.class
/WxMusic.class
/WxOutMsg.class
/WxPrePay.class
/WxPrepayIdResult.class
/WxScanCodeInfo.class
/WxSendLocationInfo.class
/WxTemplateData.class
/WxUser.class
/WxVideo.class
/WxVoice.class
